---
import PostsLoop from "../posts-loop.astro";
---

<section class="max-w-4xl mx-auto px-7 lg:px-0">
  <h2
    class="text-2xl font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100"
  >
    Compétences
  </h2>
  <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
    Pour le <span class="font-bold">portfolio</span>, j'ai choisi de développer la <span class="font-bold">compétence 1</span>.<br>
    Dans le cadre de la <span class="font-bold">SAÉ</span>, je couvre les apprentissage critiques des <span class="font-bold">trois compétences</span>.<br>
    <span class="font-bold">Convention de nommage :</span> Les figures <span class="italic">Trace X</span> illustrent mon analyse pour le portfolio. Les figures <span class="italic">Illustration X</span> décrivent mon travail pour la SAÉ.
  </p>

  <div class="w-full max-w-4xl mx-auto my-7 xl:px-0">
    <div
      class="flex flex-col items-start justify-start md:flex-row md:space-x-7"
    >
      <div class="w-full space-y-7">
        <PostsLoop count="999999999" />
      </div>
    </div>
  </div>
</section>
